.btn-custom {
  background-color: transparent;
  border: none;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 8px 0;
}

.btn-red {
  background-image: url('src/img/Фигура2.png');
}

.btn-red:hover {
  background-image: url('src/img/Фигура1.png');
}

.btn-blue {
  background-image: url('src/img/Фигура1.png');
}

.btn-blue:hover {
  background-image: url('src/img/Фигура2.png');
}


.btn-custom:hover {
  border: none;
}

.btn-custom:focus {
  outline: none;
}

.bg {
  z-index: -1;
}

.bg-1 {
  z-index: 0;
}

.bg-2 {
  z-index: -2;
}

.arrow-left {
  bottom: -50px;
  left: 35%;
}

.arrow-right {
  bottom: -50px;
  left: 50%;
}

.arrow-left2 {
  left: -6%;
}

.arrow-right2 {
  left: 91%;
}

.bg-kick {
  background-color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: orangered;
}

@media screen and (min-width: 350px) {

}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
  .part-1 {
    height: 800px;
  }
}

@media screen and (min-width: 992px) {
  .bg-800 {
    position: absolute;
    height: 800px;
  }

  .btn-size {
    width: 60px;
    height: 60px;
  }

  .bg-kick {
    background: none;
  }
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {
  .bg-800 {
    height: auto;
  }

  
}
